<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>

<%= form_for @user do |f| %>
  <p><%= f.label(:name) %>
  <%= f.text_field(:name) %></p>
  <p><%= submit_tag("Create user") %>
  <%= submit_tag("Update user") %></p>
<% end %>
